html{
    font-family:Georgia, 'Times New Roman', Times, serif
}
section{
    padding-bottom: 60px;
}


.intro-img{
    width: 170px;
    height: 200px;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7%;
}
.intro-text {
    font-size: 20px;
    float: left;
    align-items: center;
    padding-left: 20px;
}

.wireframe-img{
    height: 210px;
    width: 380px;
    padding-right: 20px;
}

.wireframe-container{
    display: flex;
    padding-bottom: 7%;
}
.wireframe-text-container{
    font-size: 20px;
    margin: auto;
}

.wireframe-img-container{
    float:left;

}

.main-text-container{
    font-size: 25px;
}



#nav-container ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-container ul li{
    height: 40px;
    width: 200px;
    background-color: lightgray;
    text-align: center;
    display: inline;
}
#nav-container ul li:hover{
    background-color: gray;
}
#nav-container ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: black;
    font-size: 20px;
    margin: auto;
}